@model IEnumerable<_20201018_MVC5_CLASS_01.Models.Course>

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Credites
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
        </tr>
    }
</table>